/*
 * Copyright Altera Corporation (C) 2012,2014. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_cyclone5.dtsi"

/ {
	model = "Altera SOCFPGA Cyclone V";	
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

    chosen {
        bootargs = "earlyprintk";
        stdout-path = "serial0:115200n8";
    }; 

	memory {
        name = "memory";
        device_type = "memory";
        reg = <0x00000000 0x80000000>;
	}; //end memory

	aliases {
		ethernet0 = &gmac1;
	}; //end aliases

    soc {
        u-boot,dm-pre-reloc;
    };
};

&gmac1 {
    status = "okay";
    phy-mode = "rgmii";
    snps,phy-addr = < 0xFFFFFFFF >;
    phy-addr = < 0xFFFFFFFF >;

    rxd0-skew-ps = <0>;
    rxd1-skew-ps = <0>;
    rxd2-skew-ps = <0>;
    rxd3-skew-ps = <0>;
    txd0-skew-ps = <0>;
    txd1-skew-ps = <0>;
    txd2-skew-ps = <0>;
    txd3-skew-ps = <0>;
    txen-skew-ps = <0>;
    txc-skew-ps = <3000>;
    rxdv-skew-ps = <0>;
    rxc-skew-ps = <3000>;
    max-frame-size = <3800>;
    tx-fifo-depth = <4096>; /* embeddedsw.dts.params.tx-fifo-depth type NUMBER */
    rx-fifo-depth = <4096>; /* embeddedsw.dts.params.rx-fifo-depth type NUMBER */
};

&mmc0 {
    status = "okay";
};

&i2c0 {
    status = "okay";
    speed-mode = <0>;

    eeprom@51 {
        compatible = "atmel,24c32";
        reg = <0x51>;
        pagesize = <32>;
    };
};

&i2c1 {
    status = "okay";
    speed-mode = <0>;

    rtc@51 {
        compatible = "rtc,pcf8563";
        reg = <0x51>;
    };
};

&qspi {
    compatible = "cadence,qspi";
    u-boot,dm-pre-reloc;
    status = "okay";
    flash0: n25q512a@0 {
        u-boot,dm-pre-reloc;
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "n25q512a", "spi-flash";
        reg = <0>;	/* appended from boardinfo */
        spi-max-frequency = <50000000>;

        cdns,page-size = <256>;
        cdns,block-size = <16>;
        cdns,read-delay = <4>;
        cdns,tshsl-ns = <50>;
        cdns,tsd2d-ns = <50>;
        cdns,tchsh-ns = <4>;
        cdns,tslch-ns = <4>;
        cdns,is-decoded-cs = <0>;
        cdns,trigger-address = <0x00000000>;
        /* u-boot version of cadence_qspi currently doesn't expect the "cdns," prefix */
        page-size = <256>;
        block-size = <16>;
        read-delay = <4>;
        tshsl-ns = <50>;
        tsd2d-ns = <50>;
        tchsh-ns = <4>;
        tslch-ns = <4>;
        is-decoded-cs = <0>;
	}; //end n25q512a@0 (flash0)

	flash1: n25q02@1 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "n25q02", "spi-flash";
        reg = <1>;	/* Chip Select */
        spi-max-frequency = <50000000>;
        cdns,page-size = <256>;
        cdns,block-size = <16>;
        cdns,read-delay = <4>;
        cdns,tshsl-ns = <50>;
        cdns,tsd2d-ns = <50>;
        cdns,tchsh-ns = <4>;
        cdns,tslch-ns = <4>;
    }; //end n25q02@1 (flash1)
}; //end flash@0xff705000 (hps_0_qspi)

&uart0 {
    status = "okay";
};

&uart1 {
    status = "okay";
};

&usb0 {
    status = "okay";
};

&usb1 {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

